<div class="container">
  <h1>KaiAko</h1>
  <p>Welcome to the KaiAko learning management system.</p>

  <% if logged_in? %>
    <%= link_to current_user.name, profile_path(current_user) %>
    <%= link_to 'Log Out', logout_path %>
  <% else %>
    <%= link_to 'Log In with Github', login_path %>
  <% end %>
</div>
